.contact {
  text-align: left;
  margin-left: 26%;

  h1 {
    font-size: 2.4rem;
    margin-top: 4rem;
  }
  p {
    font-size: 15px;
    color: #475467;
  }

  form {
    margin-top: 3rem;
    .fullname {
      display: flex;
      gap: 1rem;
    }
    .comment {
      margin-bottom: 1rem;
      textarea {
        resize: none;
        border: 1px solid #d0d5dd;
        border-radius: 8px;
        padding: 10px 14px 10px 14px;
        font-size: 13px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #667085;
          font-size: 13px;
          margin-top: -0.5rem;
          font-family: "Inter", sans-serif;
        }
      }
    }
    div {
      display: grid;
      width: 30vw;

      .label {
        color: #344054;
        font-style: Medium;
        font-size: 14px;
        line-height: 20px;
        font-weight: 550;
        margin-bottom: 0.3rem;
      }
      .input {
        margin-bottom: 1.5rem;
        border: 1px solid #d0d5dd;
        border-radius: 8px;
        height: 3rem;
        padding: 0px 14px 0px 14px;
        font-size: 13px;
        // width: 100%;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #667085;
          font-size: 13px;
        }
      }
    }
    .checkbox {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 1rem;
    }
    button {
      margin-top: 1rem;
      margin-bottom: 10rem;
      height: 3rem;
      width: 67.5%;
      font-size: 1.2rem;
      border: none;
      color: white;
      border-radius: 5px;
      background: #1570ef;
      &:hover {
        cursor: pointer;
        filter: brightness(1.1);
        transition: all 1.2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact {
    margin-left: 0;
    form {
      .fullname {
        display: block;
      }
      div {
        .input {
          width: 200%;
        }
      }
      button{
        width: 114%;
      }
      .checkbox{
        width: 114%;
      }
      .comment {
        textarea {
          width: 200%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .contact {
    margin-left: 0;
    form {
      .fullname{
        display: block;
      }
      div {
        .input {
          width: 200%;
        }
      }
      button{
        width: 108%;
      }
      .checkbox{
        width: 114%;
      }
      .comment {
        textarea {
          width: 200%;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .contact {
    margin-left: 0;
    form {
      .fullname {
        display: block;
      }
      div {
        .input {
          width: 200%;
        }
      }
      button{
        width: 108%;
      }
      .checkbox{
        width: 114%;
      }
      .comment {
        textarea {
          width: 200%;
        }
      }
    }
  }
}
